---
import Layout from "@/layouts/Layout.astro";
const pageTitle = "Home";
---

<Layout pageTitle={pageTitle}>
  <h1 class="text-4xl font-bold mb-6">Hey! I'm Leandro Favre.</h1>
  <p class="mb-4 text-white/80 leading-relaxed text-lg max-w-2xl">
    I'm from <span class="font-bold">Argentina 🇦🇷</span> and I'm passionate about
    building mobile and web applications from the ground up, as well as contributing
    to existing projects. I've been working in software development since 2017. I'm
    naturally curious and continuously explore new tools to enhance and streamline
    my workflow.
  </p>
  <p class="mb-4 text-white/80 leading-relaxed text-lg max-w-2xl">
    I have created several open-source tools, including <strong>Icons</strong> (for
    Expo),
    <strong>Directory</strong> (an Expo Google Fonts searcher), and <strong
      >useCalendar</strong
    >
    (a hook for Expo Calendar), among others.
  </p>

  <p class="mb-8 text-white/80 leading-relaxed text-lg max-w-2xl">
    My professional background includes working with companies such as
    Tecnofarma, Avaya, NaranjaX, Technisys, Mosaic, and others. To learn more
    about my experience or to request my resume, feel free to contact me via
    email. To explore all my projects, visit my GitHub repository.
  </p>

  <p class="mb-8 text-white/80 leading-relaxed text-lg max-w-2xl">
    Feel free to reach out — you'll find my social media links in the footer.
  </p>
</Layout>
